.header .nav ul .out-li:nth-child(2) > a{
    color: #71C3AC;
}
.banner-g{
    width: 100%;
}
.banner-g .banner{
    max-width: 1440px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.banner-g .banner .banner-pic{
    width: 100%;
}
.banner-g .banner .banner-pic img{
    width: 100%;
    vertical-align: bottom;
}
.banner-g .banner .banner-txt{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.banner-g .banner .banner-txt h1{
    margin-bottom: 20px;
    font-size: 20px;
    text-shadow: 1px 1px 2px #000000;
    color: #f0f0f0;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 100%;
}
@keyframes long{
    0%{
        width: 0;
    }
    100%{
        width: 140px;
    }
}
.banner-g .banner .banner-txt h1::after{
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
    width: 0px;
    height: 2px;
    background-image: linear-gradient(90deg, #71C3AC, #068466, #005450, #068466, #71C3AC);
    animation: long 1s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}
.banner-g .banner .banner-txt p{
    font-size: 30px;
    text-shadow: 1px 1px 2px #000000;
    color: #f0f0f0;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
}
.foreword{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
.foreword .txt{
    width: 100%;
}
.foreword .txt h2{
    margin: 50px auto;
    font-size: 35px;
    color: #f0f0f0;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    font-size: 20px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 100%;
}
.foreword .txt p{
    padding: 0 5%;
    margin-bottom: 50px;
    text-align: center;
    line-height: 30px;
    text-shadow: 1px 1px 2px #f0f0f0;
    font-size: 14px;
    color: #1D1F1F;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 100%;
}
.foreword .txt p:nth-child(1){
    margin-bottom: 20px;
}

.join-g{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
.join-g .join{
    display: flex;
    position: relative;
    max-width: 1440px;
    justify-content: center;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.join-g .join .join-btn{
    text-align: center;
    width: 50%;
}
@keyframes big-small{
    0%{
        background-size: 100%;
    }
    100%{
        background-size: 110%;
    }
}
.join-g .join .join-btn1{
    text-align: right;
    background-image: url(../img/5-711111.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    min-height: 100%;
    /* height: 400px; */
    overflow: hidden;
}
.join-g .join .join-btn1 .left{
    padding: 60px 40px 0;
    min-height: 300px;
}
.join-g .join .join-btn1 .left h3{
    margin: 10px 0 15px;
    text-shadow: 1px 1px 2px #f0f0f0;
    font-size: 20px;
    color: #1D1F1F;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 100%;
    transition: .5s;
}
.join-g .join .join-btn1 .left h4{
    margin: 10px 0 10px;
    text-shadow: 1px 1px 2px #f0f0f0;
    font-size: 16px;
    color: #1D1F1F;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 100%;
    transition: .5s;
}
.join-g .join .join-btn .left:hover h3,
.join-g .join .join-btn .left:hover h4{
    text-shadow: 1px 1px 1px #000000;
    color: #068466;
}
.join-g .join .join-btn1 .left .btn button{
    border-radius: 2em;
    border: 1px #1d1f1f solid;
    display: inline-block;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    min-width: 120px;
    padding: 0 20px;
    text-align: center;
    background: 0 0;
    font-size: 14px;
    color: #1D1F1F;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    transition: .5s;
}
.join-g .join .join-btn1 .left:hover .btn button{
        border: solid 1px #068466;
        color: #068466;
        box-shadow: 1px 1px 2px #03634d;
    }
.join-g .join .join-btn1 .left .btn button:focus{
    display: none;
}
.join-g .join .join-btn2{
    text-align: left;
    background-image: url(../img/r00_789_3024_2498_w1200_h678_fmax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    min-height: 100%;
    transition: .5s;
    /* height: 400px; */
}
.join-g .join .join-btn2 .right{
    padding: 60px 40px 0;
    min-height: 300px;
}
.join-g .join .join-btn2 .right h3{
    margin: 10px 0 15px;
    font-size: 20px;
    color: #1D1F1F;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 100%;
    transition: .5s;
}
.join-g .join .join-btn2 .right h4{
    margin: 10px 0 10px;
    font-size: 1em;
    text-transform: uppercase;
    font-size: 16px;
    color: #1D1F1F;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 100%;
    transition: .5s;
}
.join-g .join .join-btn .right:hover h3,
.join-g .join .join-btn .right:hover h4{
    text-shadow: 1px 1px 1px #000000;
    color: #068466;
}
.join-g .join .join-btn2 .right .btn button{
    border-radius: 2em;
    border: 1px #1d1f1f solid;
    display: inline-block;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    min-width: 120px;
    padding: 0 20px;
    text-align: center;
    background: 0 0;
    font-size: 14px;
    color: #1D1F1F;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    transition: .5s;
}
.join-g .join .join-btn .right:hover .btn button{
    border: solid 1px #068466;
    color: #068466;
    box-shadow: 1px 1px 2px #03634d;
}
.join-g .join .join-btn2 .right .btn button:focus{
    display: none;
}

.bottom-img{
    bottom: 0px;
    position: absolute;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
.bottom-img img{
    width: 100%;
    vertical-align: bottom;
}




.two-fun{
    max-width: 1440px;
    width: 100%;
    position: relative;
}
.two-fun .fun-left{
    display: none;
}
.two-fun .fun-left.block{
    display: block;
}
.two-fun .fun-right{
    /* position: absolute;
    bottom: 0;
    left: 0; */
    display: none;
}
.two-fun .fun-left.opacity{
    opacity: 1;
    display: block;
}
.two-fun .fun-right.opacity{
    opacity: 1;
    display: block;
}
.contact-us{
    position: relative;
    max-width: 1440px;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.contact-us .font{
    width: 100%;
    padding: 0 20px;
}
.contact-us .font h2{
    margin-top: 55px;
    text-align: center;
    margin-bottom: 20px;
}
.contact-us .font p{
    letter-spacing: 2px;
    padding: 0 20px;
}

.contact-us .txt h2{
    position: relative;
    top: 50px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 200px;
    color: #f0f0f0;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    font-size: 20px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 100%;
}
.contact-us .txt h2:before{
    position: absolute;
    top: 25%;
    left: -50px;
    content: "";
    width: 50px;
    height: 2px;
    background-image: linear-gradient(90deg, #71C3AC, #068466, #005450, #068466, #71C3AC);
    margin: auto 5px;
}
.contact-us .txt h2:after{
    position: absolute;
    top: 25%;
    right: -50px;
    content: "";
    width: 50px;
    height: 2px;
    background-image: linear-gradient(90deg, #71C3AC, #068466, #005450, #068466, #71C3AC);
    margin: auto 5px;
}
.contact-us .txt form{
    display: block;
    width: 100%;
    min-width: 350px;
    max-width: 1000px;
    height: 500px;
    margin: auto;
    text-align: center;
}
.contact-us .txt form .wrap-g{
    width: 100%;
}
.contact-us .txt form .wrap-label{
    min-width: 300px;
    width: 100%;
    height: 20px;
    margin: auto;
    text-align: center;
}
.contact-us .txt form .wrap-label label{
    display: block;
    margin: 0;
    padding: 0;
    color: rgb(32, 70, 60);
    font-size: 14px;
    text-align: center;
    text-shadow: 1px 1px 2px #f0f0f0;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 100%;
    
}
.contact-us .txt form input{
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    width: 30%;
    min-width: 300px;
    padding: 6px 0 10px 8px;
    font-weight: 400;
    background: rgba(0,0,0,.3);
    outline: none;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    transition: all .3s ease-in-out;
    font-size: 14px;
    box-shadow: 0px 0px 15px rgba(32, 70, 60,.3);
    box-shadow: inset 0 -5px 45px rgba(32, 70, 60,.5), 0 1px 1px rgba(32, 70, 60,.5);
}
.contact-us .txt form input:focus{
    text-indent: 12px;
    background-color: rgba(32, 70, 60,.7);
}

.contact-us .txt form .bbb button{
    border-radius: 2em;
    border: 1px #1d1f1f solid;
    display: inline-block;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    min-width: 120px;
    padding: 0 20px;
    text-align: center;
    background: 0 0;
    text-shadow: 1px 1px 2px #f0f0f0;
    font-size: 14px;
    color: #1D1F1F;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    transition: .5s;
}
.contact-us .txt form .bbb button a{
    display: inline-block;
    width: 100%;
    font-size: 14px;
    padding: 0 20px;
    color: #1D1F1F;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 100%;
    transition: .5s;
}
.contact-us .txt form .warp-g button:hover{
    border: solid 1px #068466;
    color: #068466;
    box-shadow: 1px 1px 2px #03634d;
}
.contact-us .txt form .bbb button:hover a{
    color: #068466;
}
@media screen and (max-width:768px){
    .contact-us .font{
        width: 100%;
    }
    .contact-us{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 150px;
    }
    
}

